
# Compiled source #
*.class
*.dll
target/
generated/
generated-sources/
classes/
spring-config/

# Packages/Libs #
*.jar
*.war
*.ear

# IDE #
*.iml
.classpath
.project
.idea/
.settings/
.springBeans

# Exclude
*.csv
*.log
*.versionsBackup

# ElasticSearch data dirs
data/

#Exclude the ng_modules
**/.node_modules_global/
**/node_modules/
npm-debug.log.*
